/* Removed invalid rule */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  color: #333;
}
.body {
  background-color: rgb(250, 250, 250);
  font-family: epilogue;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: epilogue;
  color: #333;
  
  
}


.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: hsl(228, 45%, 44%);
}
.nav-links {
  width: 50vw;
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0;
  
}

.nav-links a {
  text-decoration: none;
  color: var(almost-black);
  font-weight: bold;
  font-family: epilogue;
  font-size: 16px;
  padding: 10px 20px;
  color: hsl(0, 0%, 41%);
}

.visible{
  visibility: visible !important;
}

.feature_container{
  position: relative;
}



.features{
  width: 130px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 38px;
  content: "hhhh";
  background-color: #ffffff;
  border-radius: 15px;
  padding: 7px;
  box-shadow: 0px 5px 12px #00000055;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  visibility: hidden;
  a{
    width: 100%;
    padding: 0;
  }
  
  
}

.auth-buttons {
  display: flex;
  gap: 20px;
  margin-left: auto;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  background: #ffffff;
  
}

.auth-buttons a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s ease;
  
}
.auth-buttons .login {
  color: #333;
  background-color: #fff;
  border:none;
  
  
}

.auth-buttons .register {
  background-color: hsl(0, 0%, 11%);
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
}
.intro {
  display: flex;
  font-family: epilogue;
  justify-content: space-between;
  margin-top: 20px;
  padding: 40px;
}

.tittle__body {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  
}
.intro__text {
  font-size: 14px;
  color: hsl(0, 0%, 41%);
  margin-bottom: 20px;
}
.intro__image {
  max-width: 70%;
  height: 50%;
  margin-top: 20px;
}
.learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color:hsl(0, 0%, 8%) ;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  border: none;


  
}
.additional__content {
  display: flex;
  padding: 40px;
  align-items: center;
  gap: 15px;  
  flex-wrap: wrap;  
  
}